@import url('./bootstrap/css/bootstrap.min.css');
@import url('./css/custom-button.css');
@import url('./css/custom-form.css');

@font-face { font-family: 'SanomatSans'; src: url('./fonts/Sanomat\ SansLight.otf') format('opentype'); font-weight: 300; }
@font-face { font-family: 'SanomatSans'; src: url('./fonts/Sanomat\ SansRegular.otf') format('opentype'); font-weight: normal; }
@font-face { font-family: 'SanomatSans'; src: url('./fonts/Sanomat\ SansMedium.otf') format('opentype'); font-weight: 500; }
@font-face { font-family: 'SanomatSans'; src: url('./fonts/Sanomat\ SansBold.otf') format('opentype'); font-weight: 700; }
@font-face { font-family: 'SanomatSans'; src: url('./fonts/Sanomat\ SansXBold.otf') format('opentype'); font-weight: bold; }

:root {
    /* ============== COLOR ============== */
    --background-color: #fff;

    --primary-color-1 : #00B14F;
    --primary-color-2 : #00814C;
    --subtle-color-1 : #dcf0e5;
    --subtle-color-2 : #80D7A6;

    --border-color : #DEE2E6;
    
    --title-color : #222222;
    --subtitle-color : #878787;
    --text-color : #444444;

    /* ============== SIZE ============== */
    --navbar-width-1 : 4.4rem;
    --navbar-width-2 : 16rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'SanomatSans', sans-serif;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
}